.hat {
  grid-column: 4 / 6;
  grid-row: 1 / 3;
}

@media (max-width: 1200px) {
  .hat {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
  }
}

@media (max-width: 992px) {
  .hat {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
  }
}

@media (max-width: 768px) {
  .hat {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

@media (max-width: 320px) {
  .hat {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
